<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1 class="display-6" style="text-align: center"><%= title %></h1>
      <a href="/add-employee" class="btn btn-sm btn-primary">Add User</a
      ><br /><br />
      <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th>NR</th>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Hire Date</th>
            <th>Job ID</th>
            <th>Salary</th>
            <th>Commission PCT</th>
            <th>Manager ID</th>
            <th>Department ID</th>
          </tr>
        </thead>
        <tbody>
          <% result.rows.forEach(function(employee, index){ %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= employee.EMPLOYEE_ID %></td>
            <td><%= employee.FIRST_NAME %></td>
            <td><%= employee.LAST_NAME %></td>
            <td><%= employee.EMAIL %></td>
            <td><%= employee.PHONE_NUMBER %></td>
            <td><%= employee.HIRE_DATE.toString().slice(0, 15) %></td>
            <td><%= employee.JOB_ID %></td>
            <td><%= employee.SALARY %></td>
            <td>
              <%= employee.COMMISSION_PCT !== null ? employee.COMMISSION_PCT :
              'Null' %>
            </td>
            <td>
              <%= employee.MANAGER_ID !== null ? employee.MANAGER_ID : 'Null' %>
            </td>
            <td><%= employee.DEPARTMENT_ID %></td>
            <td>
              <a
                href="edit/<%= employee.EMPLOYEE_ID %>"
                class="btn btn-sm btn-primary"
                >Edit</a
              >
            </td>
            <td>
              <a
                href="delete/<%= employee.EMPLOYEE_ID %>"
                class="btn btn-sm btn-danger"
                >Delete</a
              >
            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </body>
</html>
